.restaurant-pic {
	height: 50vh;
	background: url('https://i.imgur.com/A62GnW1.jpg?1');
	background-size: cover;
	background-position: center;
}

.restaurant-info {
	height: 50vh;
}

.reservation {
	height: 25vh;
}

/* add a deli pattern background*/
.reservation-form-container {
	position: relative;
	height: 100%;
	background: url('https://i.imgur.com/lhabMls.png');
	background-size: 30%;
	background-position: cover;
	background-repeat: repeat;
}

.reservation-form {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.restaurant-locator {
	height: 50vh;
}

/* Centered text */
.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 4px 4px grey;
  font-size: 50px;
  font-weight: bold;
}

h3 {
	color: white;
	text-align: center;
	text-shadow: 3px 3px black;
	font-weight: bold;
}

.welcome {
	padding: 100px;
}