.restaurant-pic {
	height: 50vh;
	background: url('https://i.imgur.com/A62GnW1.jpg?1');
	background-size: cover;
	background-position: center;
}

.restaurant-info {
	height: 50vh;
}

.reservation {
	height: 25vh;
}

/* add a deli pattern background*/
.reservation-form-container {
	position: relative;
	height: 100%;
	background: url('https://i.imgur.com/lhabMls.png');
	background-size: 30%;
	background-position: cover;
	background-repeat: repeat;
}

.reservation-form {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.restaurant-locator {
	height: 50vh;
}

/* Centered text */
.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#navbar {
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 4px 4px grey;
  font-size: 50px;
  font-weight: bold;
}

h3 {
	color: white;
	text-align: center;
	text-shadow: 3px 3px black;
	font-weight: bold;
}

#findus {
	color: black;
	text-align: center;
	text-shadow: 2px 2px #7AADB9;
	font-weight: bold;	
}

.welcome {
	padding: 100px;
}

.meet {
	border-radius: 50%;
}

.mouseover {
	opacity: .5;
}

footer {
	background-color: #7AADB9;
	color: white;
	text-align: center;
	padding: 10px;
	font-weight: bold
}

/*footer social icons*/
.fa {
  padding: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 50%;
  background-color: white;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  /*background: #3B5998; */
  color: black;
}

.fa-twitter {
  /*background: #55ACEE;*/
  color: black;
}

.fa-linkedin {
  /*background: #007bb5;*/
  color: black;
}